.Header {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    &_Tweet {
        @media screen and (max-width: 1299px) {
            width: 100%;
            margin-right: 0 !important;
            display: flex;
            justify-content: center;
        }
        
        margin-top: 20px;
        margin-right: 40px;
    }

    &_Bottom {
        @media screen and (max-width: 1299px) {
            width: 100%;
            margin-right: 0 !important;
            display: flex;
            justify-content: center;
        }

        margin-bottom: 10px;
        margin-right: 20px;
    }
}