@import '../../../globals';

.IconButton {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    border-radius: 9999px;
    transition: background-color ease 0.2s;

    &__White:hover { background-color: rgba($color: $whiteish-gray, $alpha: 0.1); }
    &__White:active { background-color: rgba($color: $whiteish-gray, $alpha: 0.2); }
    
    &__Blue:hover { background-color: rgba($color: $bird-blue, $alpha: 0.1); }
    &__Blue:active { background-color: rgba($color: $bird-blue, $alpha: 0.2); }

    &:disabled {
        opacity: 0.5;
        cursor: inherit;
        pointer-events: none;
    }
}