.BubbleButton {
    display: inline-block;
    outline: none;
    background-color: #1da1f2;
    color: #fff;
    height: 40px;
    padding: 0 16px;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}