@import '../../../globals';

.BubbleButton {
    display: inline-block;
    outline: none;
    background-color: $bird-blue;
    color: $whiteish-gray;
    height: 40px;
    padding: 0 16px;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;

    &XL {
        display: block;
        padding: 0 32px;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        min-height: 52px;
    }
}