@import '../../../globals';

.BubbleButton {
    display: inline-block;
    outline: none;
    background-color: $bird-blue;
    color: $whiteish-gray;
    height: 40px;
    padding: 0 16px;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    border: none;

    &XL {
        display: block;
        padding: 0 32px;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        min-height: 52px;
    }

    &_Text {
        display: block;
    }
    
    &_Icon {
        display: flex;
    }

    &__Responsive {
        @media screen and (max-width: 1299px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            padding: 0;

            .BubbleButton_Text {
                display: none;
            }
        }

        @media screen and (min-width: 1300px) {
            .BubbleButton_Icon {
                display: none;
            }
        }
    }

    &:disabled {
        opacity: 0.5;
        cursor: inherit;
        pointer-events: none;
    }
}